body {
    background-color: #adc7ff;
    background-image: url("../res/img/masaimarasunset.jpg");
}

h1, h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}